.cp_les{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

.teacher_name{
    color: #969393;
}

.ui_ux_les{

    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

.sr_les{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.w4_ooad{

    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.w3_alg{

    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

.cp_restart{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.w5_c_plus_plus{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.workshop{

    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
}

.w5_python{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.w5_js{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.w3_english_int{

    background-color: green;
    padding: 5px;
    border-radius: 5px;

}

.w3_english_beg{

    background-color: green;
    padding: 5px;
    border-radius: 5px;

}

.w4_python_ooad{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.comp_net2{
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
}

.android_les{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

.w5_java{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

.w4_java{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

.em{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.graphic_design{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.english_practice{

    background-color: green;
    padding: 5px;
    border-radius: 5px;

}


.ui_ux_level_up{

    background-color: green;
    padding: 5px;
    border-radius: 5px;

}

.tei{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.frontend_45{

    background-color: red;
    padding: 5px;
    border-radius: 5px;
}


td{
    border: 1px solid black;
    cursor: pointer ;
}

td:hover{
    background-color: rgba(129, 119, 119, 0.39);
}